<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            padding: 15px;
            text-align: center;
        }
        th{
            background-color: aliceblue;
        }
    </style>
</head>
<body>
    <h1>flask app.4 </h1>
<h2>사용자 검색</h2>
    <form  action="/">
    <input type="text" name ='name' placeholder="이름을 입력하시오">
    <input type="submit" value="검색">
    </form>
    <form action="/">
    <input type="text" name ='age' placeholder="나이를 입력하시오">
    <input type="text" name ='mobile' placeholder="전화번호를 입력하세요">
    <input type="submit" value="검색">
</form>
   

    <table >
        <tr>
            <th>name</th>
            <th>age</th>
            <th>mobile</th>
        </tr>
        {%for user in users%}
        <tr>
            <td>{{user['name']}}<td>
            <td>{{user['age']}}</td>
            <td>{{user['mobile']}}</td>
        </tr>
        {%endfor%}
    
    </table>
  
</body>
</html>