<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>upload.html</title>
</head>
<body>
    <h1>파일을 업로드 하는 중입니당🤗🙏</h1>
    <form action="/upload" method="POST" enctype="multipart/form-data">
        <input type="file" name="file">
        <button type="submit">submit</button>
    </form>
    
        <h2> 업로드 된 파일 목록</h2>
    <ul>
        {%for file in files%}
        <li>{{file}} <a href="/delete/{{file}}" onclick="return confirm('정말 삭제하겟음까?🥲')">[del]</a></li>
        {%endfor%}
    </ul>
</body>
</html>