body {
  width: 100%;
  background-color: rgb(249, 184, 160);
  height: 100%;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  background-color: rgb(249, 184, 160);
  /* border: 1px solid pink; */
  height: 33px;
}
li {
  flex: 1;
  width: 100px;
  text-align: center;
}

li a {
  text-decoration: none;
  color: black;
  font-weight: 1000;
  padding: 8px 16px;
  display: block;
}

li a:hover {
  background-color: blanchedalmond;
  border-radius: 15px 15px 0 0;
  transition-duration: 0.2s;
  color: rgb(0, 0, 0);
}

.calenderContainer {
  background-color: blanchedalmond;
  display: inline-block;
  text-align: center;
  justify-items: center;
  align-items: center;
  border-radius: 8px;
  width: 100%;
  height: calc(100%-33px);
}

.caprasimo-regular {
  font-family: "Caprasimo", serif;
  font-weight: 400;
  font-style: normal;
}

#calender td:first-child,
#calender th:first-child {
  color: red;
}

/* first-child == nth-child(1)  */

#calender td:last-child,
#calender th:last-child {
  color: blue;
}

table {
  border-collapse: collapse;
  width: 100%;
  height: 500px;
  border: 0;
  border-radius: 20px;
}

table th,
td {
  border: none;
}

td:hover {
  background-color: rgb(247, 208, 150);
  border-radius: 20px;
}
