{% extends 'base.html' %}
{% block title %} User {% endblock %}
{% block content %}


<h1>item detail목록</h1>
<div id="item-info" data-item-id="{{ item_id }}"></div>
</button>
<p id="error"></p>
</form>
<div>
    <!-- 상품정보 -->
     <table border="1" style="border-collapse: collapse; width: 100%;">
        <thead>
       <tr style="background-color: #f2f2f2;">
            <th>name</th>
            <th>unit_price</th>
           
        </tr></thead>
         <tbody id="item-result"> </tbody>
     </table>
</div>
<div id="sales-result-wrapper" style="max-height:200px; overflow-y:scroll;">
  <table id="user-table" border="1" style="border-collapse: collapse; width: 100%;">
    <thead>
      <tr style="background-color: #f2f2f2;">
        <th>Month</th>
        <th>Total Revenue</th>
        <th>Item Count</th>
      </tr>
    </thead>
    <tbody id="sales-result">
      <!-- 데이터 행들 -->
    </tbody>
  </table>
</div>

<div>월별매출액</div>

<script src="/static/js/item-detail.js"></script>
{%endblock%}