{% extends 'base.html' %}
{% block title %} User {% endblock %}
{% block content %}
<h1>가게 목록</h1>


</button>
<p id="error"></p>
</form>

 <p id="page-info"></p>
<table id="user-table" border="1" style="border-collapse: collapse; width: 100%;">
    <thead>
        <tr style="background-color: #f2f2f2;">
            <th>아이디</th>
            <th>브랜드</th>
            <th>지점명</th>
            <th>주소</th>
            <th>order-menu</th>
        </tr>
    </thead>
    <tbody id="result"></tbody>
</table>
<div id="pagination-controls" > 
    <div id="page-numbers" ></div>
</div>

<script src="/static/js/store.js"></script>
{%endblock%}