<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>User List</h1>
    <ul>
        {%for u in users%}
        <h4>{{u['name']}}</h4>
        <li>{{u['age']}}</li>
        <li>{{u['phone']}}</li>
        {%endfor%}
    </ul>
    <div>
        {% if page > 1 %}
            <a href="/page/{{ page - 1 }}">Previous</a>
        {% endif %}

        {% for p in range(1, total_pages + 1) %}
            {% if p == page %}
                <strong>{{ p }}</strong>
            {% else %}
                <a href="/page/{{ p }}">{{ p }}</a>
            {% endif %}
        {% endfor %}

        {% if page < total_pages %}
            <a href="/page/{{ page + 1 }}">Next</a>
        {% endif %}
    </div>
</body>
</html>